###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact'
# template which is defined elsewhere.

define contact{
        contact_name                        Balaji          ; Short name of user
     use                    generic-contact          ; Inherit default values from generic-contact template (defined above)
        alias                           Balaji          ; Full name of user
        host_notification_commands      notify-host-by-email
        email                           gbalaji@thoughtworks.com     ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }


define contact{
        contact_name                    dhivhya          ; Short name of user
     use                    generic-contact          ; Inherit default values from generic-contact template (defined above)
        alias                           dhivhya          ; Full name of user
        host_notification_commands      notify-host-by-email
        email                           dhivhyas@thoughtworks.com     ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }


define contact{
        contact_name                    mhealth_support         ; Short name of user
     use                    generic-contact          ; Inherit default values from generic-contact template (defined above)
        alias                          mhealth_support          ; Full name of user
        host_notification_commands      notify-host-by-email
        email                           mhealth_support@wvi.org    ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact{
        contact_name                    mhealth_phone_support         ; Short name of user
        use                             phone-contact          ; Inherit default values from generic-contact template (defined above)
        alias                           mhealth_phone_support          ; Full name of user
        host_notification_commands      notify-host-by-phone
        }



###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 Balaji,dhivhya,mhealth_support,mhealth_phone_support
        }
